/***********************
    1.BASIC           
    2.HELPER
    3.NAVBAR
    4.HOME
    10.WORK
    11.CLIENT
    16.FOOTER
    17.RESPONSIVE
************************/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Nunito:400,600,700');

/*======================
        1.BASIC
========================*/

body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

/* custom scrollbar */

::-webkit-scrollbar{
    width: 5px;
    background: black;
  }
  ::-webkit-scrollbar-thumb{
    background: rgb(9, 102, 114);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1.font-weight-bold,
h2.font-weight-bold,
h3.font-weight-bold,
h4.font-weight-bold,
h5.font-weight-bold,
h6.font-weight-bold {
    font-weight: 600 !important;
}

a,
a:hover,
a:focus,
button,
button:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}

::selection {
    background: rgba(166, 175, 189, 0.3);
}

::-moz-selection {
    background: rgba(166, 175, 189, 0.3);
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999999;
}

#status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
}

.spinner {
    margin: 0 auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 5px solid rgba(0, 0, 0, 0.2);
    border-right: 5px solid rgba(0, 0, 0, 0.2);
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
    border-left: 5px solid #000;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.spinner,
.spinner:after {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}   

.back_top {
    text-align: center;
    position: fixed;
    bottom: 15px;
    height: 35px;
    width: 35px;
    background-color: #000;
    display: none;
    z-index: 10000;
    border-radius: 3px;
    right: 20px;
    transition: all 0.5s;
}

.back_top i {
    color: #fff;
    line-height: 35px;
    font-size: 12px;
    display: block;
}

/*==========================
        2.HELPER
============================*/

.section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-color: #fff;
}

.bg-dark {
    background-color: #000;
}

.bg-custom{
    background-color: #000;
}

.text-dark {
    color: #000 !important;
}

.text-muted {
    color: #777;
}

.header_section {
    padding: 200px 0px 120px;
    background-image: url(../images/header_img.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
}

.page_link a {
    color: rgba(255, 255, 255, 0.55);
}

.page_link {
    font-size: 14px;
}

.text-custom {
    color: #000 !important;
}

.h-100vh {
    height: 100vh;
}

.z-index {
    z-index: 2;
}

.bg-custom {
    background-color: #000;
}

.section-main-title {
    max-width: 570px;
}

.main-title-border::after,
.main-title-border::before {
    display: inline-block;
    margin-top: -7px;
    vertical-align: middle;
    content: "";
    background-color: #d0d0d0;
    width: 30px;
    height: 1px;
}

.main-title-border i {
    font-size: 20px;
}

.bg-overlay-gredient {
    background: linear-gradient(32deg, rgba(18, 166, 181, 0.8) 0%, rgba(16, 12, 242, 0.7) 100%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.bg-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.btn {
    padding: 12px 26px;
}

.btn-rounded {
    border-radius: 30px;
}

.btn-outline-custom {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    letter-spacing: 1px;
    transition: all 0.5s;
    font-size: 15px;
}

.btn-outline-custom:hover,
.btn-outline-custom:focus,
.btn-outline-custom:active,
.btn-outline-custom.active,
.btn-outline-custom.focus,
.btn-outline-custom:active,
.btn-outline-custom:focus,
.btn-outline-custom:hover,
.open>.dropdown-toggle.btn-outline-custom {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #000 !important;
}

.btn-outline-black {
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.5s;
    font-size: 15px;
}

.btn-outline-black:hover,
.btn-outline-black:focus,
.btn-outline-black:active,
.btn-outline-black.active,
.btn-outline-black.focus,
.btn-outline-black:active,
.btn-outline-black:focus,
.btn-outline-black:hover,
.open>.dropdown-toggle.btn-outline-black {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
}

.btn-custom {
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
    transition: all 0.5s;
    font-size: 15px;
    text-transform: capitalize;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open>.dropdown-toggle.btn-custom {
    background-color: #fff;
    border-color: #000;
    color: #000;
}

/*==========================
        3.NAVBAR
============================*/

.custom-nav {
    padding: 12px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
}

.custom-nav.stickyadd {
    background-color: #fff;
    padding: 8px 0;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}

.custom-nav .navbar-nav li a {
    color: #fff;
    font-size: 16px;
    background-color: transparent !important;
    padding: 15px 0;
    position: relative;
    margin: 0 7px;
    font-weight: 600;
    transition: all 0.4s;
}

.custom-nav .navbar-nav li.active a:before,
.custom-nav .navbar-nav li:hover a:before,
.custom-nav .navbar-nav li:active a:before,
.custom-nav.stickyadd .navbar-nav li.active a:before,
.custom-nav.stickyadd .navbar-nav li:hover a:before,
.custom-nav.stickyadd .navbar-nav li:active a:before {
    opacity: 1;
}

.custom-nav .navbar-nav li a:before,
.custom-nav.stickyadd .navbar-nav li a:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 10%;
    height: 6px;
    width: 6px;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    transform: translateX(-50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.custom-nav.stickyadd .navbar-nav li a:before {
    background: #000 !important;
}

.navbar-toggler {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.custom-nav.stickyadd .navbar-nav li a {
    color: #000;
}

.navbar-toggle {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: #337ab7;
}

.logo .logo-light {
    display: inline-block;
}

.stickyadd .logo .logo-dark {
    display: inline-block;
}

.stickyadd .logo .logo-light {
    display: none;
}

.logo .logo-dark {
    display: none;
}

.custom-nav .navbar-brand.logo img {
    height: 28px;
}

/*==========================
        4.HOME
============================*/

.home-bg {
    background-image: url(https://i.pinimg.com/originals/07/03/6e/07036e12e9ca047f542437befa8872d3.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
}

.home-table-center {
    display: table-cell;
    vertical-align: middle;
}

.home-table {
    display: table;
    width: 100%;
    height: 100%;
}

.header_title {
    font-size: 72px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: capitalize;
}

.header_subtitle {
    line-height: 2.0;
    font-size: 18px;
    max-width: 600px;
}

.social_home li a {
    font-size: 18px;
    color: #ffffff;
    display: inline-block;
    width: 30px;
    text-align: center;
}

.scroll_down {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    z-index: 8;
}

.scroll_down i {
    position: relative;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    height: 50px;
    width: 30px;
    line-height: 60px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    display: inline-block;
    color: #fff;
    font-size: 12px;
}

.scroll_down i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    transition: all .2s;
}

/*----DEMO 4/5/6----*/

.creative:after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    background: transparent;
    background-size: 100% 100%;
    background-image: url(../images/bottom-color.png);
}

/*----DEMO 7/8/9-----*/

.clip-home{
    clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 100%, 0 83%);
}

/*----DEMO 10/11/12/13----*/

.jarallax{
    background-size: cover;
    background-position: center center;
}

/*----DEMO 14----*/

.home-bg-slider {
    position: relative;
}

.home-bg-slider .carousel-control-next,
.carousel-control-prev {
    width: 6%;
}

.home-bg-slider .carousel-item,
.home-bg-slider .carousel {
    height: 100vh;
    width: 100%;
}

.home-bg-slider .carousel-item {
    background-position: center center;
    background-size: cover;
}

/*===========================
        10.WORK
=============================*/

.work_menu li {
    margin-right: 0px !important;
}

.work_menu li:after {
    content: "*";
    top: 3px;
    position: relative;
    display: inline-block;
    color: #bbb;
    margin: 0px 8px;
}

.work_menu li:last-child:after {
    content: "";
    display: none;
}

.work_menu li a {
    letter-spacing: 0.03em;
    padding: 6px 16px;
    border-radius: 5px;
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: all 0.5s;
    font-size: 14px;
    color: #9a9a9a;
}

.work_menu li a.active {
    background-color: #000;
    color: #ffffff;
}

.work_menu li a:hover {
    background-color: #000;
    color: #ffffff !important;
}

.work_img_box {
    border: none;
    margin: 15px 0px;
    overflow: hidden;
    border-radius: 0;
    position: relative;
}

.work_img_box {
    position: relative;
    overflow: hidden;
}

.work_img_box a {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 15;
    height: 100%;
    top: 0;
}

.work_img_box .work_images {
    position: relative;
}

.work_img_box .work_images img {
    transition: all 0.5s;
    width: 100%;
}

.work_img_box .work_images .work_overlay {
    top: 10px;
    position: absolute;
    overflow: hidden;
    border-radius: 7px;
    left: 10px;
    bottom: 10px;
    right: 10px;
}

.work_img_box .work_images .work_overlay a {
    height: 100%;
    width: 100%;
}

.work_img_box .work_images .work_overlay:after {
    content: '';
    left: 50%;
    top: 50%;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 30%;
    width: 0;
    position: absolute;
    bottom: 50%;
    opacity: 0;
    height: 50%;
    height: 0;
    transition: all 150ms ease-in-out 200ms;
}

.work_img_box .work_images .work_overlay h4 {
    overflow: hidden;
    position: absolute;
    font-size: 13px;
    text-align: center;
    top: 54px;
    z-index: 2;
    color: transparent;
    transition: color 150ms ease-in-out 200ms;
    right: 25px;
    padding: 0 10px;
}

.work_img_box .work_images .work_overlay h6 {
    color: transparent;
    overflow: hidden;
    position: absolute;
    top: 30px;
    right: 25px;
    z-index: 2;
    font-size: 18px;
    transition: color 150ms ease-in-out 200ms;
    text-align: center;
    padding: 0 10px;
}

.work_img_box .work_images .work_overlay h4:before {
    content: '';
    background: #fff;
    width: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    transition: right 600ms ease-in-out 0s;
}

.work_img_box .work_images .work_overlay h6::before {
    content: '';
    background: #fff;
    bottom: 0;
    right: auto;
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    transition: left 600ms ease-in-out 0s;
}

.work_img_box:hover img {
    transform: scale(1.1);
}

.work_img_box:hover .work_overlay:after {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    transition: all 150ms ease-in-out 200ms;
    opacity: 1;
}

.work_img_box:hover .work_overlay h4 {
    color: rgba(255, 255, 255, 0.6);
}

.work_img_box:hover .work_overlay h4:before {
    right: -100%;
}

.work_img_box:hover .work_overlay h6 {
    color: white;
}

.work_img_box:hover .work_overlay h6:before {
    left: -100%;
}

/*==========================
        11.CLIENT
============================*/

.bg-client {
    position: relative;
    background-image: url(../images/img-3.jpg);
    background-size: cover;
    background-position: center center;
}

.people_says .people_icon i {
    font-size: 60px;
}

.people_review_box .people_review {
    font-size: 18px;
    max-width: 580px;
}

.owl-theme .owl-controls .owl-page {
    margin: 20px 0px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 6px;
    margin: 5px 4px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: all 0.5s;
    background: #fff;
}

.owl-theme .owl-controls .owl-page.active span {
    width: 20px;
}

/*==========================
        16.FOOTER
============================*/

.fot_social .social-icon {
    border: 2px solid #868e96;
    border-radius: 50%;
    transition: all 0.5s;
    width: 42px;
    height: 42px;
    display: block;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
}

.fot_social .social-icon:hover {
    border-color: #000;
    color: #000 !important;
    transform: rotate(360deg);
}

.copy-rights {
    line-height: 43px;
}

/*==========================
        18.RESPONSIVE
============================*/

@media (max-width: 768px) {
    .custom-nav {
        margin-top: 0px;
        padding: 10px 0px !important;
        background-color: #fff !important;
    }
    .custom-nav .navbar-nav li a:before {
        content: '';
        display: none;
    }
    .custom-nav .navbar-nav li a {
        margin: 0 0px;
        padding: 6px 0;
        color: rgba(0, 0, 0, 0.55) !important;
    }
    .custom-nav .navbar-nav li.active a {
        color: #000 !important;
    }
    .custom-nav>.container {
        width: 90%;
    }
    .custom-nav .logo .logo-dark {
        display: inline-block;
    }
    .custom-nav .logo .logo-light {
        display: none;
    }
    .custom-nav .navbar-brand.logo img {
        height: 26px;
    }
    .navbar-nav {
        margin-top: 0px;
    }
    .navbar-toggler {
        font-size: 29px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #000;
    }
    .header_title {
        font-size: 40px;
        line-height: 1.2;
    }
    .header_subtitle {
        font-size: 15px;
        line-height: 1.8;
    }
    .home-bg,.h-100vh.jarallax,.h-100vh.bg-dark,.home-bg-slider .carousel-item{
        padding: 110px 0 170px 0;
    }
    .h-100vh ,.home-bg-slider .carousel-item{
        height: auto;
    }
    .clip-home{
        clip-path:none;
    }
    .custom-nav .navbar-brand.logo img {
        height: 26px;
    }
    .about-detail .about-work li::after,
    .work_menu li:after {
        display: none;
        content: "";
    }
    .about-detail .about-work li {
        margin-right: 7px;
        margin-left: 7px;
    }
    .copy-rights {
        line-height: 26px;
    }
    .float_none.float-right,
    .float_none.float-left {
        float: none !important;
        text-align: center;
    }
    .work_menu li a {
        margin: 8px 10px;
    }
    .comment_blog .comment_read:nth-child(odd) {
        margin-left: 34px;
    }
    .blog_detail h4{
        font-size: 18px;
    }
    .blog_detail p.blockquote{
        font-size: 14px !important;
    }
}